
	    body { 
		   background: ivory;
		   text-align: left;
		}
		#contact {
		    text-align: right;
		}
		.accent  {
		     color: darkcyan;
		}
		h1, #contact {
		       background-color: wheat;
			   color: dimgray;
		}
